<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,0,200"
    />
    <link rel="stylesheet" href="/static/css/app.css" />
    <title>{% block title %}WELCOME{% endblock %}</title>
  </head>
  <body>
    <div class="landing-wrapper">
      <div class="land-wrp">
    <img src="/static/images/land3.png" alt="" class="landImg">
    <div class="land-header">
      <h1>Welcome</h1>
      <h2>Share funny memes, art, and more with friends</h2>
        <a href="/register" class="land-btn">Sign Up</a>
        <div class="land-login">Already a member?<a href="/login">Login</a></div>
    </div>
  </div>
      
    
    </div>
    <footer>
      <h3>Created By Andrew Dawson</h3>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="static/index.js"></script>
  </body>

</html>
