{% extends 'base.html' %}

{% block title %}Update Playlist{% endblock %}

{% block content %}
    <h1>Edit Playlist</h1>
    <form class="form" action="/update-playlist/{{playlist.playlist_id}}" method="POST">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->

        <div class="form-wrapper">
          {% for field in form
                 if field.widget.input_type != 'hidden' %}
                 <p>
                  <div class="inp">
                  {{ field.label(class_="field-label") }}
                  {{ field(class_="field") }}
                </div>
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
                </p>
            
              {% endfor %}
              <button>Submit</button>
              <a href="/user"class="cancel">Cancel</a>
              <a href="/delete-playlist/{{playlist.playlist_id}}" class="del">DELETE</a>
            </div>
    </form>
  

{% endblock %}